Congratz, 
= @user.email

You have successfully activated your example.com account,
your username is: 
= @user.email.to_s + '.'

To login to the site, just follow this link:
= @url.to_s + '.'

Thanks for joining and have a great day!