- if @current_user.present?
  =breadcrumb_tag do
    %li.active
      = t('headers.users.new')
    %li
      = link_to 'Пользователи', users_path
    %li
      Администрирование
    
.page-header
  %h1= t('headers.users.new')

= render 'form'

