%h1 Недостаточно привилегий!

Пользователю
= @current_user_login
в роли
= @current_role_user.try(:role).try(:full_name)
недостаточно прав для доступа к методу 
= params['bad_action_name']
контроллера
= params['bad_controller_name']
