=breadcrumb_tag do
  %li.active
    = t('headers.automobiles.new')
  %li
    = link_to 'Автомобили', automobiles_path
  %li
    Таксопарк

.page-header
  %h1= t('headers.automobiles.new')

= render 'form'
